.container {
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  max-width: 50rem;
  border-radius: 0.5rem;
  padding: 2rem;
  display: grid;
  gap: 1.4rem;
  margin: 3rem;
}

header {
  color: hsl(224, 21%, 14%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

h1 {
  font-size: 1.8rem;
  line-height: 1;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.counter {
  background-color: hsl(219, 85%, 26%);
  color: hsl(0, 0%, 100%);
  padding: 0 0.7rem;
  border-radius: 0.4rem;
  font-weight: 800;
}

.mark-button {
  background-color: transparent;
  border: none;
  color: hsl(219, 12%, 42%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.mark-button:hover {
  color: hsl(219, 85%, 26%);
  transition: 0.3s;
}

.notif-container {
  display: grid;
  gap: 1.3rem;
}

[data-unread="true"] {
  border-radius: 0.7rem;
  padding: 1rem;
  background-color: hsl(210, 60%, 98%);
}

.wrapper {
  display: flex;
}

.profile-pic {
  height: 3rem;
  aspect-ratio: 1/1;
  margin-right: 2rem;
}

.notif {
  /* display: grid;
  grid-template-rows: repeat(2, 1fr); */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.notif-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem;
}

.author {
  text-decoration: none;
  color: hsl(224, 21%, 14%);
  font-weight: 800;
}

.author:hover {
  color: hsl(219, 85%, 26%);
}

.action {
  color: hsl(219, 12%, 42%);
}

.post {
  text-decoration: none;
  color: hsl(219, 12%, 42%);
  font-weight: 800;
}

.post:hover {
  color: hsl(219, 85%, 26%);
}

.isRead {
  width: 0.5rem;
  height: 0.5rem;
  background-color: hsl(1, 90%, 64%);
  border-radius: 50%;
  display: block;
}

.time {
  color: hsl(219, 14%, 63%);
  margin: 0;
}

.private-message {
  background-color: hsl(0, 0%, 100%);
  border: 1.5px solid hsl(211, 68%, 94%);
  color: hsl(219, 12%, 42%);
  padding: 1.3rem 1rem;
  border-radius: 0.5rem;
}

.private-message:hover {
  background-color: hsl(211, 68%, 94%);
  transition: 0.3s;
  cursor: pointer;
}

.picture {
  max-width: 3rem;
  aspect-ratio: 1/1;
  margin-left: 20rem;
}
